extends layout

block content
    div#file.left
        h2 File

        hr

        div
            span#save.online Save

        div.switch-wrapper
            input(id='onlineMode', type='checkbox', value='1', checked='true', class='switch-button')
        div.switch-wrapper
            input(id='nightMode', type='checkbox', value='1', checked='true', class='switch-button')

        hr

        #listOfBooks
            ol

        hr

    div#bookmarks.left.hide
        h2 Bookmarks

        hr

        #listOfBookmarks

        hr

        #reloadBookmark
            a.btn-full-left.css-center-1-line reload

    div#navigate.left.hide
        h2 Navigate

        hr

        div
            div#btnsUp
                #btnNavUp
                    a.btn-navigate.css-center-1-line Up
                #btnNavUp2
                    a.btn-navigate.css-center-1-line Up2
            div#btnsDown
                #btnNavDown
                    a.btn-navigate.css-center-1-line Down
                #btnNavDown2
                    a.btn-navigate.css-center-1-line Down2
        hr

        #footnote

        hr

        div#btnsContr
            #btnNavUndo
                a.btn-navigate.css-center-1-line Back
            #btnNavRedo
                a.btn-navigate.css-center-1-line Forward

    div#addBookmark.left.hide
        h2 Add bookmark

        hr

        .addBookmark
            div.form-add-bookmark
                input(type='text', id='posOnMouseBookmark', disabled='true')
                label Title
                input(type='text', id='titleOfBookmark')
            div.form-add-bookmark
                label Text
                textarea(id='textOfBookmark')
            div.form-add-bookmark
                #submitBookmark
                    a.btn-add-bookmark.css-center-1-line  Submit
            div.form-add-bookmark
                #chooseAnotherPosBookmark
                    a.btn-add-bookmark.css-center-1-line  Choose another pos


    #book

    #hidden_book

    div.right
        div#slider
            div#slider_btn
            div#marks
            div#userMarks


    div.back_btn
        div#back_btn
            = ' '