
.switch-wrapper {
    display: block;
    position: relative;
}

.switch-wrapper {
	font-size: 150%;
	font-weight: bold;
}

.switch-wrapper[data-text=online]:after {
	content: "Online";
}

.switch-wrapper.offline-mode:after {
	content: "Offline";
}

.switch-wrapper:after {
	content: "Day";
}

.switch-wrapper.night-mode:after {
	content: "Night";
}